.wrapper {
    width: 50vw; /* 50% of the viewport width */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Hide overflow content */
    position: relative; /* Required for absolute positioning of children */
}

.page {
    position: absolute;
    width: 100%; /* 100% of the wrapper width */
    height: 100%; /* 100% of the wrapper height */
    display: flex; /* Center content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    will-change: transform;
}

.page > div {
    touch-action: none;
    background-size: contain; /* Scale down to fit inside the container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center center; /* Center the image */
    width: 100%; /* Ensure it covers the width of .page */
    height: 100%; /* Ensure it covers the height of .page */
    will-change: transform;
    box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}
