.header-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; /* Reduced gap */
    padding: 10px; /* Reduced padding */
    background-color: var(--theme-black);
    margin: 0;
}

.header-container div,
.header-container a {
    background-color: #f0f0f0;
    padding: 3px; /* Further reduced padding */
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center; /* Removed comma */
    font-size: 0.8em; /* Further reduced font size */
}

.header-container a:hover {
    background-color: #e0e0e0;
    color: var(--theme-black);
}

.logo {
    width: 20px; /* Further reduced width */
    height: 20px; /* Further reduced height */
    border-radius: 50%;
    margin-right: 4px; /* Further reduced margin */
}
