@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --theme-border: #d7d7d7;
    --theme-button: #f0f0f0;
    --theme-button-hover:#303030;
    --theme-black: #000;
    --theme-header-hover: #888888;
}

* {
    font-family: "Montserrat", sans-serif; 
    padding: 0; 
    margin: 0;
    text-align: center;
}

button {
    cursor: pointer;
    color: var(--theme-black);
    background-color: var(--theme-button);
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px; /* Added for rounder corners */
    border: none; 
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    color: white;
    background-color: var(--theme-button-hover); 
}